
<ng-container *ngIf= "!filterOpen">
        <li class="card card-body" style="margin-right:80px;margin-left:80px" >
               <br>
               <br>
                <div>
                  <h1 style="text-align:center">Impact of Covid related political rhetoric on the common masses</h1>
                  <br>
                  <br>
                  <div class="row">
                    <div class="col-6">
                      <h3 style="text-align:center"> Sentiment of POI tweets</h3>
                      <div [chart]="doughnut_senti_poi"></div>
                    </div>
                    <br>
                    <br>
                    <div class="col-6">
                      <h3 style="text-align:center">Sentiment of replies on POI tweets</h3>
                      <div [chart]="doughnut_senti_poi_replies"></div>
                    </div>
                  </div>
                </div>
                <br>
                <br>

                <br>
                <br>
                <div>
                  <h1 style="text-align:center">Attitude of the general population towards Covid vaccines</h1>
                  <br>
                  <br>
                  <div [chart]="doughnut_senti_vaccines"></div>
                </div>
                <br>
                <br>


                <div>
                  <h1 style="text-align:center">Analytics</h1>
                  <br>
                  <br>
                  <div class="row">
                        <div class="col-6">
                            <h3 style="text-align:center">Language Wise Distribution of Tweets</h3>
                            <div [chart]="doughnut_lang"></div>
                        </div>
                        <br>
                        <br>
                        <div class="col-6">
                            <h3 style="text-align:center">Country Wise Distribution of Tweets</h3>
                            <div [chart]="doughnut_country"></div>
                        </div>
                    </div>
                </div>
                <br>
                <h3 style="text-align:center">Overall Top Hashtags</h3>
                <div [chart]="doughnut"></div>
                <br>
                <h3 style="text-align:center">Country Wise Top Hashtags</h3>
                <div class="row">
                        <div class="col-4">
                            <a [chart]="pie_India_hashtags"></a>
                        </div>

                        <div class="col-4">
                            <a [chart]="pie_usa_hashtags"></a>
                        </div>

                        <div class="col-4">
                            <a [chart]="pie_mexico_hashtags"></a>
                        </div>
                </div>

                <h3 style="text-align:center">POI Sentiment Distribution</h3>
                <div [chart] ="stackedBarChart"></div>
                <br>

                <h3 style="text-align:center">Topic Wise Distribution</h3>
                <div [chart] ="topicWiseChart"></div>
                <br>

                <h3 style="text-align:center">Country Wise Distribution of Tweets</h3>
                <br>
                <div class="row" style="margin-left:420px ;margin-bottom: 50px;margin-top: 20px;">  <div [chart]="mapChart"></div>  </div>
                <h3 style="text-align:center">Country Wise Sentiment Analysis</h3>
                <div class="row">
                        <div class="col-4">
                            <a [chart]="pie_India"></a>
                        </div>

                        <div class="col-4">
                            <a [chart]="pie_usa"></a>
                        </div>

                        <div class="col-4">
                            <a [chart]="pie_mexico"></a>
                        </div>
                </div>
                <br>


        </li>
</ng-container>

<ng-container *ngIf= "filterOpen">
        <li class="card card-body" style="margin-right:80px;margin-left:350px" >
<!--            <span>-->
<!--                <h3>Time Series for POI </h3>-->
<!--                <div [chart]="chart_poiTweets"></div>-->
<!--            </span>-->

<!--                <h3>Time Series for POI replies </h3>-->
<!--                <div [chart]="chart"></div>-->


          <br>
          <br>
          <div>
            <h1 style="text-align:center">Impact of Covid related political rhetoric on the common masses</h1>
            <br>
            <br>
            <div class="row">
              <div class="col-6">
                <h3 style="text-align:center">Sentiment of POI tweets</h3>
                <div [chart]="doughnut_senti_poi"></div>
              </div>
              <br>
              <br>
              <div class="col-6">
                <h3 style="text-align:center">Sentiment of replies on POI tweets</h3>
                <div [chart]="doughnut_senti_poi_replies"></div>
              </div>
            </div>
          </div>
          <br>
          <br>

          <br>
          <br>
          <div>
            <h1 style="text-align:center">Attitude of the general population towards Covid vaccines</h1>
            <br>
            <br>
            <div [chart]="doughnut_senti_vaccines"></div>
          </div>
          <br>
          <br>

          <div>
                    <div class="row">
                        <div class="col-6">
                            <h1>Language Wise Distribution of Tweets</h1>
                            <div [chart]="doughnut_lang"></div>
                        </div>
                        <div class="col-6">
                            <h1>Country Wise Distribution of Tweets</h1>
                            <div [chart]="doughnut_country"></div>
                        </div>
                    </div>
                </div>

                <h3 style="text-align:center">Overall Top Hashtags</h3>
                <div [chart]="doughnut"></div>
                <h3>Country Wise Top Hashtags</h3>
                <!-- <h3>No Hastags Found</h3> -->
                <div class="row">
                        <div class="col-4">
                            <a [chart]="pie_India_hashtags"></a>
                        </div>

                        <div class="col-4">
                            <a [chart]="pie_usa_hashtags"></a>
                        </div>

                        <div class="col-4">
                            <a [chart]="pie_mexico_hashtags"></a>
                        </div>
                </div>

                <h3 style="text-align:center">POI Sentiment Distribution</h3>
                <div [chart] ="stackedBarChart"></div>

                <h3 style="text-align:center">Topic Wise Distribution</h3>
                <div [chart] ="topicWiseChart"></div>

                <h3 style="text-align:center">Country Wise Sentiment Analysis</h3>

                <div class="row" style="margin-left:400px;margin-bottom: 20px;">
                     <div [chart]="mapChart" ></div>

                </div>
                <br>
                <div class="row">

                        <div class="col-4">
                            <a [chart]="pie_India"></a>
                        </div>

                        <div class="col-4">
                            <a [chart]="pie_usa"></a>
                        </div>

                        <div class="col-4">
                            <a [chart]="pie_mexico"></a>
                        </div>
                </div>

        </li>
</ng-container>









